<app-smui-card>
  <div class="input-group">
    <input
      type="text"
      class="form-control"
      placeholder="Search or Create Item..."
      [ngModel]="searchInputTerm"
      (ngModelChange)="searchInputTermChange.emit($event)"
      (keyup.enter)="createItem()"
    />

    <span class="input-group-btn" *ngIf="isTaggingActive && allTags.length > 0">
      <div ngbDropdown class="d-inline-block">
        <button
          class="btn btn-outline-primary tags-dropdown"
          id="tags-dropdown"
          ngbDropdownToggle
        >
          {{ !appliedTagFilter ? 'All Tags' : appliedTagFilter.displayValue }}
        </button>
        <div ngbDropdownMenu aria-labelledby="tags-dropdown">
          <button ngbDropdownItem (click)="filterByTag(undefined)">
            All Tags
          </button>
          <button
            ngbDropdownItem
            *ngFor="let tag of allTags"
            (click)="filterByTag(tag)"
          >
            {{ tag.displayValue }}
          </button>
        </div>
      </div>
    </span>

    <span class="input-group-btn">
      <button
        class="btn btn-success create-button"
        type="button"
        (click)="createItem()"
        [disabled]="
          !currentSolrIndexId || !searchInputTerm || !searchInputTerm.trim()
        "
      >
        <i class="fa fa-plus" aria-hidden="true"></i> New
      </button>
    </span>
  </div>
</app-smui-card>

<app-smui-modal
  id="create-modal"
  title="Add new rule management or spelling item"
>
  <div content>
    <p>
      Please select if you want to add a new rule management or spelling item...
    </p>
  </div>
  <div footer class="btn-toolbar">
    <button
      type="button"
      class="btn btn-primary mr-2"
      data-dismiss="modal"
      (click)="createNewSpellingItem()"
    >
      <i class="fa fa-book smui-icon"></i>Spelling
    </button>
    <button
      type="button"
      class="btn btn-success"
      data-dismiss="modal"
      (click)="createNewRuleItem()"
    >
      <i class="fa fa-list smui-icon"></i>Rule Management
    </button>
  </div>
</app-smui-modal>
