<div class="detail-input-row">
  <div class="detail-input-row-checkbox">
    <input
      type="checkbox"
      [disabled]="disabled"
      [ngModel]="active"
      (ngModelChange)="activeChange.emit($event)"
    />
  </div>
  <div class="detail-input-row-label">
    <small class="uppercase">{{ label }}</small>
  </div>
  <div class="detail-input-row-input">
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        [placeholder]="placeholder"
        [disabled]="disabled || !active"
        [ngModel]="term"
        (ngModelChange)="termChange.emit($event)"
        (keyup.enter)="handleSave.emit()"
      />
      <div *ngIf="term && showPreviewLinks()">
        <app-smui-preview-link
          [previewSections]="previewLinks(term)"
        >
        </app-smui-preview-link>
      </div>
    </div>
  </div>
  
  <div class="detail-input-row-editdistance">
    <div class="progress" style="height: 32px;">
      <div
        [ngClass]="['progress-bar', editDistanceToBootstrapWarnClass()]"
        role="progressbar"
        [style.width]="editDistanceToProgressValue() + '%'"
        [style.height]="'32px'"
        [attr.aria-valuenow]="editDistanceToProgressValue()"
        aria-valuemin="0"
        aria-valuemax="100"
      >
        {{ editDistance }}
      </div>
    </div>
  </div>

  <div class="detail-input-row-delete">
    <button
      type="button"
      class="btn btn-danger btn-sm"
      [disabled]="disabled || !active"
      (click)="handleDeleteRow.emit()"
    >
      -
    </button>
  </div>
</div>

<div *ngIf="warnForExactMatchingSyntax()" class="alert alert-warning mt-2 mb-0" role="alert">
  <i class="fa fa-exclamation-circle"></i> WARNING: Exact query matches do not apply to misspellings. The misspelled query now requires the formulated quotation(s).
</div>
