<toaster-container [toasterconfig]="toasterConfig"></toaster-container>

<div class="container-fluid">

    <smui-header-nav
            [(currentSolrIndexId)]="currentSolrIndexId"
            [mainComponentDirty]="searchManagement.isDirty()"
            [smuiModalDialog]="smuiModalDialog"
            #headerNav>
    </smui-header-nav>

    <smui-search-management
            [currentSolrIndexId]="currentSolrIndexId"
            [smuiModalDialog]="smuiModalDialog"
            #searchManagement>
    </smui-search-management>

</div>

<smui-modal-dialog
    #smuiModalDialog>
</smui-modal-dialog>
