.smui-no-bottom-margin {
	margin-bottom: 0;
}

.smui-no-bottom-padding {
	padding-bottom: 0;
}

.smui-no-bottom-margin {
	margin-bottom: 0;
}

.smui-disabled-rule-line {
	background-color: #e2e3e5;
}

.dropdown-item {
	cursor: pointer;
}

.smui-tags-container {
	padding: 6px 12px;
}

.smui-tags-container /deep/ .tokens-container {
	margin-bottom: 0 !important;
}

.smui-tags-container /deep/ .token {
	font-size: 12px;
}

.card-gap {
	margin-bottom: 1rem;
}

.smui-associated-spellings {
	display: grid;
	grid-template-columns: auto 1fr;
	margin-top: 0.5rem;
	border: solid 1px rgba(0,0,0,.125);
	border-radius: .25rem;
	padding: 0.5rem;
}

.smui-associated-spellings-title {
	grid-column: 1;
}

.smui-associated-spellings-list {
	grid-column: 2;
}

.smui-associated-spellings-list > span {
	margin-left: 0.5rem;
	background: aliceblue;
	border-radius: 0.5rem;
	padding: 0.25rem 1rem;
}

.active {
	color: #007bff;
	cursor: pointer;
}

.underlined-dashed {
	text-decoration: underline;
	text-decoration-style: dashed;
}

.align-middle {
	vertical-align: middle;
}

.muted {
	color: #6a6a6a;
}

.with-pipe::before {
	content: " | ";
}

.uppercase {
	text-transform: uppercase
}
