<smui-card>
  <div class="input-group">
    <input type="text"
           class="form-control"
           placeholder="Search or Create Item..."
           [ngModel]="searchInputTerm"
           (ngModelChange)="searchInputTermChange.emit($event)"
           (keyup.enter)="createItem()">

    <span class="input-group-btn" *ngIf="isTaggingActive && allTags.length > 0">
      <button id="filterTagsDropdown"
              type="button"
              class="btn btn-outline-primary dropdown-toggle"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false">
        {{ !appliedTagFilter ? "All Tags" : appliedTagFilter.displayValue }}
      </button>

      <div class="dropdown-menu" aria-labelledby="filterTagsDropdown">
        <span class="dropdown-item" (click)="filterByTag(null)">All Tags</span>
        <span *ngFor="let tag of allTags" class="dropdown-item" (click)="filterByTag(tag)">
          {{tag.displayValue}}
        </span>
      </div>
    </span>

    <span class="input-group-btn">
      <button class="btn btn-success"  type="button" (click)="createItem()">
        <i class="fa fa-plus" aria-hidden="true"></i> New
      </button>
    </span>
  </div>
</smui-card>

<div class="modal fade" id="addItemModal" tabindex="-1" role="dialog" aria-labelledby="addItemTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addItemTitle">Add new rule management or spelling item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <p>Please select if you want to add a new rule management or spelling item...</p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="createNewSpellingItem()">
          <i class="fa fa-book smui-icon"></i>Spelling
        </button>
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="createNewRuleItem()">
          <i class="fa fa-list smui-icon"></i>Rule Management
        </button>
      </div>
    </div>
  </div>
</div>
