
<h3 *ngIf="solrIndex">Suggested Fields for {{solrIndex.description}}</h3>

<app-smui-admin-suggested-fields-create
  (showSuccessMsg)="showSuccessMsg($event)"
  (showErrorMsg)="showErrorMsg($event)"
  (suggestedFieldsChange)="suggestedFieldsChange($event)"
  [solrIndex]="solrIndex"
>
</app-smui-admin-suggested-fields-create>

<app-smui-admin-suggested-fields-list
  (openDeleteConfirmModal)="openDeleteConfirmModal($event)"
  (suggestedFieldsChange)="suggestedFieldsChange($event)"
  [solrIndex]="solrIndex"
>
</app-smui-admin-suggested-fields-list>


<router-outlet></router-outlet>
