<toaster-container [toasterconfig]="toasterConfig"></toaster-container>
<div class="container-fluid">

    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <span class="navbar-brand">Search Mangement UI</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto">
            </ul>

            <div class="btn-group">
                <select class="selectpicker" #solrIndexSelect (change)="selectSolrIndex(solrIndexSelect.value)" [(ngModel)]="solrIndexSelectOptionModel">
                    <option *ngFor="let solrIndex of listSolrIndeces" [value]="solrIndex.id">
                        {{solrIndex.description}}
                    </option>
                </select>
                <button type="button" class="btn btn-outline-secondary" (click)="publishSolrConfig()">Push Config to Solr</button>
                <button *ngIf="featureToggleService.getSyncToggleRuleDeploymentPreLivePresent()" type="button" class="btn btn-outline-danger" (click)="publishToLIVE()">Publish to LIVE</button>
            </div>

        </div>
    </nav>

    <div class="row">

        <div class="col-4">
            <smui-search-input-list [detailComponent]="searchInputDetailComponent"
                                    [parentComponent]="self"
                                    #searchInputListComponent></smui-search-input-list>
        </div>
        <div class="col-8">
            <smui-search-input-detail [listComponent]="searchInputListComponent"
                                      [parentComponent]="self"
                                      #searchInputDetailComponent></smui-search-input-detail>
        </div>

    </div>

</div>

<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel">{{ confirmTitle }}</h5>
                <button type="button" class="close" data-dismiss="modal" (click)="confirmModalCancel()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ confirmBodyText }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="confirmModalOk()">{{ okText }}</button>
                <button type="button" class="btn btn-success" data-dismiss="modal" (click)="confirmModalCancel()">{{ cancelText }}</button>
            </div>
        </div>
    </div>
</div>
