.smui-no-bottom-margin {
	margin-bottom: 0;
}

.smui-no-bottom-padding {
	padding-bottom: 0;
}

.smui-no-bottom-margin {
	margin-bottom: 0;
}

.smui-realign-check-input {
	margin-left: 0;
	position: relative;
}

.smui-disabled-rule-line {
	background-color: #e2e3e5;
}

.dropdown-item {
	cursor: pointer;
}
