<div class="card card-gap">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <div class="form-group smui-no-bottom-margin">
          <table style="width:100%">
            <tr [class.smui-disabled-rule-line]="((detailSearchInput !== null) && (!detailSearchInput.isActive))">
              <td style="width:20%">
                <!-- TODO ng-container wrapping could be solved more elegant, maybe as a separate "empty detailSearchInput view"? -->
                <ng-container *ngIf="detailSearchInput !== null">
                  <input type="checkbox"
                         class="form-check-input smui-realign-check-input"
                         [(ngModel)]="detailSearchInput.isActive">
                </ng-container>
                <ng-container *ngIf="detailSearchInput === null">
                  <input type="checkbox"
                         class="form-check-input smui-realign-check-input"
                         disabled="disabled">
                </ng-container>
                <small style="text-transform: uppercase">Input Term:</small>
              </td>
              <td [style.width]="showTags ? '30%' : '60%'">
                <ng-container *ngIf="detailSearchInput !== null">
                  <input type="text"
                         class="form-control"
                         id="inputSearchInput"
                         placeholder="Edit Search Input ..."
                         [(ngModel)]="detailSearchInput.term"
                         (keyup.enter)="saveSearchInputDetails()">
                </ng-container>
                <ng-container *ngIf="detailSearchInput === null">
                  <input type="text"
                         class="form-control"
                         id="inputSearchInput"
                         placeholder="Edit Search Input ..."
                         disabled="disabled">
                </ng-container>
              </td>
              <td [style.display]="showTags ? 'table-cell': 'none'" style="width:30%" class="smui-tags-container">
                  <select class="inputTags" multiple>
                    <option *ngFor="let tag of availableTags"
                      [value]="tag.id">{{tag.displayValue}}</option>
                  </select>
              </td>
              <td style="width:20%">
                <button type="button"
                        class="btn btn-danger col"
                        (click)="deleteSearchInputWithId(detailSearchInput.id)"
                        [attr.disabled]="detailSearchInput === null ? true : null">
                  <i class="fa fa-minus" aria-hidden="true"></i> Permanently delete
                </button>
              </td>
            </tr>
            <tr *ngIf="detailSearchInput !== null && associatedSpellings.length > 0">
              <td style="width:20%"></td>
              <td style="width:60%">
                <div class="smui-associated-spellings">
                  <div class="smui-associated-spellings-title">
                    <small class="uppercase">Associated Spellings:</small>
                  </div>
                  <div class="smui-associated-spellings-list">
                    <ul>
                      <li *ngFor="let associatedSpelling of associatedSpellings; let idxAssociatedSpelling = index">
                        <ng-container *ngIf="associatedSpelling.exists">
                          <small class="underlined-dashed active"
                                 (click)="openDetailsForSpelling(associatedSpelling.id)">
                            {{associatedSpelling.term}}
                          </small>
                          <small *ngFor="let spelling of associatedSpelling.alternates; let idxAlternateSpelling = index"
                                 class="with-pipe muted">
                            {{spelling}}
                          </small>
                        </ng-container>
                        <ng-container *ngIf="!associatedSpelling.exists">
                          <small>{{associatedSpelling.term}}</small>
                          <i class="fa fa-plus-circle active align-middle" aria-hidden="true"
                             (click)="createNewSpellingItemForTerm(associatedSpelling.term)">
                          </i>
                        </ng-container>
                      </li>
                    </ul>
                  </div>
                </div>
              </td>
              <td style="width:20%"></td>
            </tr>
          </table>
        </div>
        </div>
      </div>
  </div>
</div>

<div class="card">

  <div class="card-body smui-no-bottom-padding">
    <div class="row">
      <div class="col">

        <button id="btnGroupDrop1"
                type="button"
                class="btn btn-success dropdown-toggle btn-block"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                [attr.disabled]="(detailSearchInput === null) ? '' : null">
          <i class="fa fa-plus" aria-hidden="true"></i> Add new search rule for input
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <span class="dropdown-item" (click)="addNewSynonymRule()">Synonym Rule (directed or undirected)</span>
          <span class="dropdown-item" (click)="addNewUpDownRule()">UP/DOWN Rule</span>
          <span class="dropdown-item" (click)="addNewFilterRule()">FILTER Rule</span>
          <span class="dropdown-item" (click)="addNewDeleteRule()">DELETE Rule</span>
          <span class="dropdown-item" (click)="addNewRedirectRule()">REDIRECT Rule</span>
        </div>

      </div>
      <div class="col">
        <button type="button"
                class="btn btn-primary btn-block"
                (click)="saveSearchInputDetails()"
                [attr.disabled]="(detailSearchInput === null) ? '' : null">
          <i class="fa fa-floppy-o" aria-hidden="true"></i> Save search rules for input
        </button>
      </div>
    </div>
  </div>

  <!-- TODO evaluate refactoring of table-layouts into abstract/generic ng-template -->

  <div class="card-body smui-no-bottom-padding">

    <div class="alert alert-danger" role="alert" *ngIf="saveError">
      <p><b>The search input could not be saved. Please fix the following errors:</b></p>
      <p style="white-space: pre;">{{ saveError }}</p>
    </div>

    <ng-container *ngIf="(detailSearchInput !== null) && (detailSearchInput.synonymRules.length > 0)">
      <table style="width:100%">
        <tr *ngFor="let synonymRule of detailSearchInput.synonymRules; let idxSynonymRules = index"
            [class.smui-disabled-rule-line]="(!synonymRule.isActive) || (!detailSearchInput.isActive)">
          <!--
          TODO evaluate the use of this nicer Bootstrap toggle button instead of `input type="checkbox"` ...

          <td style="width:X%">
          <button type="button"
                  class="btn btn-sm float-left"
                  [class.btn-secondary]="true"
                  [class.btn-light]="!true"
                  (click)="toggleSynonymRuleActive(idxSynonymRules); $event.stopPropagation();">&#10003;</button>
          </td>
          -->
          <td style="width:20%">
            <input type="checkbox"
                   class="form-check-input smui-realign-check-input"
                   [(ngModel)]="synonymRule.isActive">
            <small style="text-transform: uppercase">Synonym Rule:</small>
          </td>
          <td style="width:20%">
            <select class="form-control"
                    [(ngModel)]="synonymRule.synonymType">
              <option [ngValue]="0">= (undirected)</option>
              <option [ngValue]="1">-> (directed)</option>
            </select>
          </td>
          <td style="width:55%">
            <input type="text"
                   class="form-control"
                   id="inputSynonymTerm"
                   placeholder="Edit Synonym Rule Term ..."
                   [(ngModel)]="synonymRule.term"
                   (keyup.enter)="saveSearchInputDetails()">
          </td>
          <td style="width:5%">
            <button type="button"
                    class="btn btn-danger btn-sm float-right"
                    (click)="deleteSynonymRule(idxSynonymRules); $event.stopPropagation();">-</button>
          </td>
        </tr>
      </table>
    </ng-container>

    <ng-container *ngIf="(detailSearchInput !== null) && (detailSearchInput.upDownRules.length > 0)">
      <table style="width:100%">
        <tr *ngFor="let upDownRule of detailSearchInput.upDownRules; let idxUpDownRules = index"
            [class.smui-disabled-rule-line]="(!upDownRule.isActive) || (!detailSearchInput.isActive)">
          <td style="width:20%">
            <input type="checkbox"
                   class="form-check-input smui-realign-check-input"
                   [(ngModel)]="upDownRule.isActive">
            <small style="text-transform: uppercase">UP/DOWN Rule:</small>
          </td>
          <!-- Option#1: Show non combined UP/DOWN dropdown followed by boost/malus number input -->
          <td style="width:10%" *ngIf="!featureToggleService.getSyncToggleUiConceptUpDownRulesCombined()">
            <select class="form-control" [(ngModel)]="upDownRule.upDownType">
              <option [ngValue]="0">UP</option>
              <option [ngValue]="1">DOWN</option>
            </select>
          </td>
          <td style="width:10%" *ngIf="!featureToggleService.getSyncToggleUiConceptUpDownRulesCombined()">
            <input type="number"
                   class="form-control"
                   id="inputUpDownBoostMalus"
                   placeholder="Boost/Malus ..."
                   [(ngModel)]="upDownRule.boostMalusValue">
          </td>
          <!-- Option#2: Show combined UP(+++++) to DOWN(----) dropdown only -->
          <td style="width:20%" *ngIf="featureToggleService.getSyncToggleUiConceptUpDownRulesCombined()">
            <select class="form-control" [(ngModel)]="upDownRule.upDownDropdownDefinitionMapping">
              <option *ngFor="let mapping of upDownDropdownDefinitionMappings(); let idxMapping = index" [value]="idxMapping">
                {{mapping.displayName}}
              </option>
            </select>
          </td>
          <td style="width:20%" *ngIf="featureToggleService.getSyncToggleUiConceptAllRulesWithSolrFields()">
            <input type="text"
                   class="form-control"
                   placeholder="Solr Field (empty)"
                   [(ngModel)]="upDownRule.suggestedSolrFieldName"
                   [ngbTypeahead]="searchSuggestedSolrFieldNames" />
          </td>
          <td ng-style="{'width' : (featureToggleService.getSyncToggleUiConceptAllRulesWithSolrFields()) ? '35%' : '55%'}">
            <input type="text"
                   class="form-control"
                   id="inputUpDownTerm"
                   placeholder="Edit UP/DOWN Rule Term ..."
                   [(ngModel)]="upDownRule.term"
                   (keyup.enter)="saveSearchInputDetails()">
          </td>
          <td style="width:5%">
            <button type="button"
                    class="btn btn-danger btn-sm float-right"
                    (click)="deleteUpDownRule(idxUpDownRules); $event.stopPropagation();">-</button>
          </td>
        </tr>
      </table>
    </ng-container>

    <ng-container *ngIf="(detailSearchInput !== null) && (detailSearchInput.filterRules.length > 0)">
      <table style="width:100%">
        <tr *ngFor="let filterRule of detailSearchInput.filterRules; let idxFilterRules = index"
            [class.smui-disabled-rule-line]="(!filterRule.isActive) || (!detailSearchInput.isActive)">
          <td style="width:20%">
            <input type="checkbox"
                   class="form-check-input smui-realign-check-input"
                   [(ngModel)]="filterRule.isActive">
            <small style="text-transform: uppercase">FILTER Rule:</small>
          </td>
          <td style="width:20%" *ngIf="featureToggleService.getSyncToggleUiConceptAllRulesWithSolrFields()">
            <input type="text"
                   class="form-control"
                   placeholder="Solr Field (empty)"
                   [(ngModel)]="filterRule.suggestedSolrFieldName"
                   [ngbTypeahead]="searchSuggestedSolrFieldNames" />
          </td>
          <td ng-style="{'width' : (featureToggleService.getSyncToggleUiConceptAllRulesWithSolrFields()) ? '55%' : '75%'}">
            <input type="text"
                   class="form-control"
                   id="inputFilterTerm"
                   placeholder="Edit FILTER Rule Term ..."
                   [(ngModel)]="filterRule.term"
                   (keyup.enter)="saveSearchInputDetails()">
          </td>
          <td style="width:5%">
            <button type="button"
                    class="btn btn-danger btn-sm float-right"
                    (click)="deleteFilterRule(idxFilterRules); $event.stopPropagation();">-</button>
          </td>
        </tr>
      </table>
    </ng-container>

    <ng-container *ngIf="(detailSearchInput !== null) && (detailSearchInput.deleteRules.length > 0)">
      <table style="width:100%">
        <tr *ngFor="let deleteRule of detailSearchInput.deleteRules; let idxDeleteRules = index"
            [class.smui-disabled-rule-line]="(!deleteRule.isActive) || (!detailSearchInput.isActive)">
          <td style="width:20%">
            <input type="checkbox"
                   class="form-check-input smui-realign-check-input"
                   [(ngModel)]="deleteRule.isActive">
            <small style="text-transform: uppercase">DELETE Rule:</small>
          </td>
          <td style="width:75%">
            <input type="text"
                   class="form-control"
                   id="inputDeleteTerm"
                   placeholder="Edit DELETE Rule Term ..."
                   [(ngModel)]="deleteRule.term"
                   (keyup.enter)="saveSearchInputDetails()">
          </td>
          <td style="width:5%">
            <button type="button"
                    class="btn btn-danger btn-sm float-right"
                    (click)="deleteDeleteRule(idxDeleteRules); $event.stopPropagation();">-</button>
          </td>
        </tr>
      </table>
    </ng-container>

    <ng-container *ngIf="(detailSearchInput !== null) && (detailSearchInput.redirectRules.length > 0)">
      <table style="width:100%">
        <tr *ngFor="let redirectRule of detailSearchInput.redirectRules; let idxDeleteRules = index"
            [class.smui-disabled-rule-line]="(!redirectRule.isActive) || (!detailSearchInput.isActive)">
          <td style="width:20%">
            <input type="checkbox"
                   class="form-check-input smui-realign-check-input"
                   [(ngModel)]="redirectRule.isActive">
            <small style="text-transform: uppercase">REDIRECT Rule:</small>
          </td>
          <td style="width:75%">
            <input type="text"
                   class="form-control"
                   id="inputRedirectTarget"
                   placeholder="Redirect Target"
                   [(ngModel)]="redirectRule.target"
                   (keyup.enter)="saveSearchInputDetails()">
          </td>
          <td style="width:5%">
            <button type="button"
                    class="btn btn-danger btn-sm float-right"
                    (click)="deleteRedirectRule(idxRedirectRules); $event.stopPropagation();">-</button>
          </td>
        </tr>
      </table>
    </ng-container>

    <div class="alert alert-danger smui-no-bottom-margin" role="alert" *ngIf="(detailSearchInput !== null) &&
        ((detailSearchInput.synonymRules.length < 1) && (detailSearchInput.upDownRules.length < 1) && (detailSearchInput.filterRules.length < 1) &&
        (detailSearchInput.deleteRules.length < 1) && (detailSearchInput.redirectRules.length < 1))">
      No Rules maintained for Search Input. This Search Input will therefore not being included to rules.txt on deployment to Solr.
    </div>

    <ng-container *ngIf="detailSearchInput !== null">
      <table style="width:100%;margin-top:20px;">
        <tr>
          <td width="15%">
            <i class="fa fa-commenting-o" aria-hidden="true"></i><small style="text-transform: uppercase"> Comment:</small>
          </td>
          <td width="85%">
              <input type="text"
                     class="form-control"
                     id="searchInputComment"
                     placeholder="Enter a comment explaining the management of input(s) (hint use #hashtags)..."
                     [(ngModel)]="detailSearchInput.comment"
                     (keyup.enter)="saveSearchInputDetails()">
          </td>
        </tr>
      </table>
    </ng-container>

  </div>

  <div class="card-body">
    <div class="row">
      <div class="col">
      </div>
      <div class="col">
        <button type="button"
                class="btn btn-primary btn-block"
                (click)="saveSearchInputDetails()"
                [attr.disabled]="(detailSearchInput === null) ? '' : null">
          <i class="fa fa-floppy-o" aria-hidden="true"></i> Save search rules for input
        </button>
      </div>
    </div>
  </div>

</div>
