<div class="card">
  <div class="card-body">

    <div class="input-group">
      <input type="text"
             class="form-control"
             placeholder="Search or Create Search Input ..."
             [(ngModel)]="searchInputTerm"
             (keyup.enter)="addNewSearchInput()">
      <span class="input-group-btn">
        <button class="btn btn-success"
                type="button"
                (click)="addNewSearchInput()">
          + New
        </button>
      </span>
    </div>
  </div>
</div>

<ul class="list-group smui-search-input-list">

  <li *ngFor="let searchInput of getTypeaheadFilteredSearchInputs(); let idxSearchInputs = index" (click)="selectSearchInputWidthId(searchInput.id)"
      [ngClass]="{'active': selectedSearchInputId === searchInput.id, 'list-group-item': true, 'smui-list-group-item': true}" >
    <span>{{ searchInput.term }}</span>

    <ng-container *ngFor="let searchInputSynonym of searchInput.synonymRules">
      <!-- TODO evaluate whether to show or hide undirected synonyms, that are not active -->
      <small class="text-muted smui-input-list-divide-synonym" *ngIf="searchInputSynonym.synonymType == 0">
        {{ searchInputSynonym.term }}
      </small>
    </ng-container>

    <button type="button" class="btn btn-danger btn-sm float-right" (click)="deleteSearchInputWithId(searchInput.id); $event.stopPropagation();">-</button>
  </li>

</ul>
