.smui-no-bottom-margin {
	margin-bottom: 0;
}

.smui-no-bottom-padding {
	padding-bottom: 0;
}

.smui-no-bottom-margin {
	margin-bottom: 0;
}

.smui-realign-check-input {
	margin-left: 0;
	position: relative;
}

.smui-disabled-rule-line {
	background-color: #e2e3e5;
}

.dropdown-item {
	cursor: pointer;
}

.smui-tags-container {
	padding: 6px 12px;
}

.smui-tags-container /deep/ .tokens-container {
	margin-bottom: 0 !important; 
}

.smui-tags-container /deep/ .token {
	font-size: 12px; 
}
