<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col">
                <div class="form-group smui-no-bottom-margin">
                    <table style="width:100%">
                        <tr>
                            <td style="width:20%">
                                <small style="text-transform: uppercase">Canonical Spelling:</small>
                            </td>
                            <td style="width:60%">
                                <ng-container *ngIf="detailSpelling !== null">
                                    <input type="text"
                                           class="form-control smui-input"
                                           id="canonicalSpellingInput"
                                           placeholder="Edit Canonical Spelling ..."
                                           [(ngModel)]="detailSpelling.term"
                                           (keyup.enter)="saveSpellingsDetails()">
                                </ng-container>
                                <ng-container *ngIf="detailSpelling === null">
                                    <input type="text"
                                           class="form-control smui-input"
                                           id="inputSearchInput"
                                           placeholder="Edit Search Input ..."
                                           disabled="disabled">
                                </ng-container>
                            </td>
                            <td style="width:20%">
                                <button type="button"
                                        class="btn btn-danger col"
                                        (click)="deleteSpelling()"
                                        [attr.disabled]="detailSpelling === null ? true : null">
                                    <i class="fa fa-minus" aria-hidden="true"></i> Permanently delete
                                </button>
                            </td>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body smui-no-bottom-padding">
        <div class="row">
            <div class="col">
                <button type="button"
                        class="btn btn-success btn-block"
                        (click)="addNewAlternateSpelling()">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    Add new alternate Spelling
                </button>
            </div>
            <div class="col">
                <button type="button"
                        class="btn btn-primary btn-block"
                        (click)="saveSpellingsDetails()">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i> Save spellings for input
                </button>
            </div>
        </div>
    </div>

    <div class="card-body smui-no-bottom-padding">
        <div class="alert alert-danger" role="alert" *ngIf="saveError">
            <p><b>The spellings could not be saved. Please fix the following errors:</b></p>
            <p style="white-space: pre;">{{ saveError }}</p>
        </div>

        <ng-container *ngIf="(detailSpelling !== null) && (detailSpelling.alternateSpellings.length > 0)">
            <table style="width:100%">
                <tr *ngFor="let alternateSpelling of detailSpelling.alternateSpellings; let idxAlternateSpelling = index">
                    <td style="width:20%">
                        <small style="text-transform: uppercase">Alternate Spelling:</small>
                    </td>
                    <td style="width:55%">
                        <input type="text"
                               class="form-control"
                               id="inputSynonymTerm"
                               placeholder="Edit Alternate Spelling ..."
                               [(ngModel)]="alternateSpelling.term"
                               (keyup.enter)="saveSpellingsDetails()">
                    </td>
                    <td style="width:5%">
                        <button type="button"
                                class="btn btn-danger btn-sm float-right"
                                (click)="deleteAlternateSpelling(idxAlternateSpelling); $event.stopPropagation();">-</button>
                    </td>
                </tr>
            </table>
        </ng-container>


        <div class="alert alert-danger smui-no-bottom-margin" role="alert"
             *ngIf="(detailSpelling !== null) && (detailSpelling.alternateSpellings.length < 1)">
            No Spellings maintained for Search Input. This Spelling item will therefore not being included on deployment to Solr.
        </div>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col">
            </div>
            <div class="col">
                <button type="button"
                        class="btn btn-primary btn-block"
                        (click)="saveSpellingsDetails()">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i> Save spellings for input
                </button>
            </div>
        </div>
    </div>

</div>