# logs
# project/project
# project/target
# target
# tmp
# .history
# dist
# #.idea
# /*.iml
# /out
# #/.idea_modules
# .classpath
# .project
# /RUNNING_PID
# .settings
# .target
# .cache*
# bin
# .DS_Store
# activator-sbt-*-shim.sbt
# .vagrant
# # smui-dev.conf
# smui2solr-dev.sh
# var/test.db
# node_modules/
# package-lock.json
# /public
# e2e/cypress/videos
# e2e/cypress/screenshots
# hs_err_pid*
