.smui-list-group-item {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	cursor: pointer;
}

.smui-input-list-divide-synonym::before {
	content: " | ";
}

li.list-group-item.active > .text-muted {
	color: #aaa !important;
}

/* TODO very raw height estimate, but works */
.smui-search-input-list {
	max-height: calc(100vh - 140px);
	overflow-y: scroll;
}

.smui-number-of-results {
	font-size: 14px;
	margin-top: 10px;
	margin-bottom: 3px;
	margin-left: 5px;
	color: #777;
}

.smui-tags-container {
	margin-left: 5px;
}

.smui-strikethrough {
	text-decoration: line-through;
}

.smui-tag {
	margin-left: 5px;
}

.smui-spelling-item {
	background-color: aliceblue;
}

.smui-icon {
	margin-right: 0.5rem;
}

.smui-right-gap {
	margin-right: 0.5rem;
}

.smui-align-middle {
	vertical-align: middle;
}