
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Solr Collections</h5>
    <h6 class="card-subtitle mb-2 text-muted">SMUI to Solr Collections established</h6>
    here is some collections

    <ul class="list-group smui-search-input-list">
        <li class="list-group-item">Webstore A - Key: <code>91579056-d606-4a1e-b9b8-6351efb059b9</code></li>
        <li class="list-group-item">Webstore B - Key: <code>99979056-d606-211e-b9b8-6351efb059b9</code></li>
    </ul>
  </div>
</div>
