
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Rules Collections</h5>
    <h6 class="card-subtitle mb-2 text-muted">Available Rules Collections in SMUI</h6>

    <ul *ngFor="let solrIndex of getSolrIndices()" class="list-group smui-search-input-list">
        <li class="list-group-item">
          Description: {{ solrIndex.description }}<br/>
          Name: {{ solrIndex.name }}<br/>
          Key: <code>{{ solrIndex.id }}</code><br/>

          <div class="float-right-top">

            <button
              type="button"
              class="btn btn-primary btn-sm" [routerLink]="['/admin/suggested-fields/', solrIndex.id.toUpperCase()]"
            >
              <i class="fa fa-wrench" aria-hidden="true"></i>
              <span class="horizontalgap">&nbsp;</span>
              Configure
              <span class="horizontalgap">&nbsp;</span>
            </button>

            <span class="horizontalgap">&nbsp;</span>

            <button
              type="button"
              class="btn btn-dark btn-sm"
              (click)="downloadRulesCollectionExport(solrIndex.id, $event)"
            >
              <i class="fa fa-download" aria-hidden="true"></i>
              <span class="horizontalgap">&nbsp;</span>
              Export
              <span class="horizontalgap">&nbsp;</span>
            </button>

            <span class="horizontalgap">&nbsp;</span>

            <button
              type="button"
              class="btn btn-danger btn-sm"
              (click)="deleteRulesCollection(solrIndex.id, $event)"
            >
              <i class="fa fa-trash" aria-hidden="true"></i>
              <span class="horizontalgap">&nbsp;</span>
              Delete
              <span class="horizontalgap">&nbsp;</span>
            </button>
            <span class="horizontalgap">&nbsp;</span>
          </div>

        </li>
    </ul>
  </div>
</div>
