.smui-activity-log-toggle {
	width: 100%;
	cursor: pointer;
}

.smui-activity-log-table {
	width: 100%;
	margin-bottom: 10px;
	font-size: smaller;
}

.smui-activity-log-headrow {
	border-top: 1px solid rgba(0,0,0,.125);
}

.smui-activty-log-spacing>td {
	padding-top: 10px;
}

.smui-activity-log-diffrow>td {
	border-top: 1px solid rgba(0,0,0,.125);
	border-bottom: 1px solid rgba(0,0,0,.125);
}

.smui-activity-log-diff-before {
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid #dc3545 !important;
	color: #dc3545;
	text-decoration: line-through;
}

.smui-activity-log-diff-after {
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid #28a745 !important;
	color: #28a745;
}
