.smui-activity-log-toggle {
	width: 100%;
}

.smui-activity-log-table {
	width: 100%;
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: smaller;
}

.smui-activity-log-entry>td {
	padding-top: 5px;
}

.smui-activity-log-detail-row {
	padding-left: 20px;
}
