<div class="row">
  <div class="col-4">
    <smui-rules-search
      [currentSolrIndexId]="currentSolrIndexId"
      [listItems]="listItems"
      (refreshAndSelectListItemById)="
        rulesListComponent.refreshAndSelectListItemById($event)
      "
      (executeWithChangeCheck)="executeWithChangeCheck($event)"
      (showSuccessMsg)="showSuccessMsg($event)"
      (showErrorMsg)="showErrorMsg($event)"
      [(searchInputTerm)]="searchInputTerm"
      [(appliedTagFilter)]="appliedTagFilter"
      #rulesSearchComponent
    >
    </smui-rules-search>

    <smui-rules-list
      [currentSolrIndexId]="currentSolrIndexId"
      [searchInputTerm]="searchInputTerm"
      [appliedTagFilter]="appliedTagFilter"
      (openDeleteConfirmModal)="openDeleteConfirmModal($event)"
      (executeWithChangeCheck)="executeWithChangeCheck($event)"
      (showErrorMsg)="showErrorMsg($event)"
      [(selectedListItem)]="selectedListItem"
      [(listItems)]="listItems"
      #rulesListComponent
    >
    </smui-rules-list>
  </div>
  <div class="col-8">
    <div *ngIf="!selectedListItem">
      <smui-card>
        <ngb-alert [dismissible]="false" type="light">
          Please select a rule or spelling item from the list or create a new one.
        </ngb-alert>
      </smui-card>
    </div>

    <div *ngIf="selectedListItem">
      <smui-rule-management
        *ngIf="selectedListItem.itemType.toString() === 'RuleManagement'"
        [currentSolrIndexId]="currentSolrIndexId"
        [selectedListItem]="selectedListItem"
        [listItems]="listItems"
        [showTags]="showTags"
        [allTags]="allTags"
        [suggestedSolrFieldNames]="suggestedSolrFieldNames"
        (refreshAndSelectListItemById)="
          rulesListComponent.refreshAndSelectListItemById($event)
        "
        (executeWithChangeCheck)="executeWithChangeCheck($event)"
        (openDeleteConfirmModal)="openDeleteConfirmModal($event)"
        (showErrorMsg)="showErrorMsg($event)"
        (showSuccessMsg)="showSuccessMsg($event)"
        #ruleManagementComponent
      >
      </smui-rule-management>

      <smui-spellings
        *ngIf="selectedListItem.itemType.toString() === 'Spelling'"
        [currentSolrIndexId]="currentSolrIndexId"
        [selectedListItem]="selectedListItem"
        (refreshAndSelectListItemById)="
          rulesListComponent.refreshAndSelectListItemById($event)
        "
        (showErrorMsg)="showErrorMsg($event)"
        (showSuccessMsg)="showSuccessMsg($event)"
        (openDeleteConfirmModal)="openDeleteConfirmModal($event)"
        #spellingDetailComponent
      >
      </smui-spellings>

      <smui-activity-log
        *ngIf="selectedListItem"
        [selectedListItem]="selectedListItem"
        (showErrorMsg)="showErrorMsg($event)"
        #activityLogComponent
      >
      </smui-activity-log>
    </div>
  </div>
</div>

<smui-confirm-modal
  id="confirm-unsaved"
  title="Confirm to discard unsaved input"
  okLabel="Yes, Cancel Editing"
  cancelLabel="No, Continue Editing"
>
  <p>
    You have unsaved input! Do you really want to Cancel Editing of Search Input
    or Continue with it?
  </p>
</smui-confirm-modal>

<smui-confirm-modal
  id="confirm-delete"
  title="Confirm deletion"
  okLabel="Yes"
  cancelLabel="No"
>
  <p>Are you sure you want to delete the item?</p>
</smui-confirm-modal>
