<div class="row">
  <div class="col-4">
    <app-smui-rules-search
      [currentSolrIndexId]="currentSolrIndexId"
      [listItems]="listItems"
      (refreshAndSelectListItemById)="rulesListComponent.refreshAndSelectListItemById($event)"
      (executeWithChangeCheck)="executeWithChangeCheck($event)"
      (showSuccessMsg)="showSuccessMsg($event)"
      (showErrorMsg)="showErrorMsg($event)"
      [(searchInputTerm)]="searchInputTerm"
      [(appliedTagFilter)]="appliedTagFilter"
      #rulesSearchComponent
    >
    </app-smui-rules-search>

    <app-smui-rules-list
      [currentSolrIndexId]="currentSolrIndexId"
      [searchInputTerm]="searchInputTerm"
      [appliedTagFilter]="appliedTagFilter"
      (openDeleteConfirmModal)="openDeleteConfirmModal($event)"
      (openCopyConfirmModal)="openCopyConfirmModal($event)"
      (executeWithChangeCheck)="executeWithChangeCheck($event)"
      (showErrorMsg)="showErrorMsg($event)"
      (showSuccessMsg)="showSuccessMsg($event)"
      [(selectedListItem)]="selectedListItem"
      [(listItems)]="listItems"
      #rulesListComponent
    >
    </app-smui-rules-list>
  </div>
  <div class="col-8">
    <div *ngIf="!selectedListItem">
      <app-smui-card>
        Please select a rule or spelling item from the list or create a new one.
      </app-smui-card>
    </div>

    <div *ngIf="selectedListItem">
      <app-smui-rule-management
        *ngIf="selectedListItem.itemType.toString() === 'RuleManagement'"
        [currentSolrIndexId]="currentSolrIndexId"
        [selectedListItem]="selectedListItem"
        [listItems]="listItems"
        [showTags]="showTags"
        [allTags]="allTags"
        [suggestedSolrFieldNames]="suggestedSolrFieldNames"
        (refreshAndSelectListItemById)="
          rulesListComponent.refreshAndSelectListItemById($event)
        "
        (executeWithChangeCheck)="executeWithChangeCheck($event)"
        (openDeleteConfirmModal)="openDeleteConfirmModal($event)"
        (showErrorMsg)="showErrorMsg($event)"
        (showSuccessMsg)="showSuccessMsg($event)"
        #ruleManagementComponent
      >
      </app-smui-rule-management>

      <app-smui-spellings
        *ngIf="selectedListItem.itemType.toString() === 'Spelling'"
        [currentSolrIndexId]="currentSolrIndexId"
        [selectedListItem]="selectedListItem"
        (refreshAndSelectListItemById)="
          rulesListComponent.refreshAndSelectListItemById($event)
        "
        (showErrorMsg)="showErrorMsg($event)"
        (showSuccessMsg)="showSuccessMsg($event)"
        (openDeleteConfirmModal)="openDeleteConfirmModal($event)"
        #spellingDetailComponent
      >
      </app-smui-spellings>

      <app-smui-activity-log
        *ngIf="selectedListItem"
        [selectedListItem]="selectedListItem"
        (showErrorMsg)="showErrorMsg($event)"
        #activityLogComponent
      >
      </app-smui-activity-log>
    </div>
  </div>
</div>

<app-smui-confirm-modal
  id="confirm-unsaved"
  title="Confirm to discard unsaved input"
  okLabel="Yes, Cancel Editing"
  cancelLabel="No, Continue Editing"
>
  <p>
    You have unsaved input! Do you really want to Cancel Editing of Search Input
    or Continue with it?
  </p>
</app-smui-confirm-modal>

<app-smui-confirm-modal
  id="confirm-delete"
  title="Confirm deletion"
  okLabel="Yes"
  cancelLabel="No"
>
  <p>Are you sure you want to delete the item?</p>
</app-smui-confirm-modal>

<app-smui-copy-modal
  id="confirm-copy"
  title="Copy rule management item"
  description="Please choose the destination Rules Collection"
  okLabel="Copy"
  cancelLabel="Cancel"
>
</app-smui-copy-modal>
