<!--&lt;!&ndash;<div class="card">&ndash;&gt;-->
<!--&lt;!&ndash;  <div class="card-body">&ndash;&gt;-->
<!--&lt;!&ndash;    <h5 class="card-title">Add a Value</h5>&ndash;&gt;-->
<!--&lt;!&ndash;    <h6 class="card-subtitle mb-2 text-muted">Add a new value.</h6>&ndash;&gt;-->

<!--&lt;!&ndash;    <div class="form-group row">&ndash;&gt;-->
<!--&lt;!&ndash;      <label for="valueName" class="col-sm-2 col-form-label">Value:</label>&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="col-sm-10">&ndash;&gt;-->
<!--&lt;!&ndash;        <input type="text" class="form-control" id="valueName" placeholder="value" [(ngModel)]="valueName">&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->

<!--&lt;!&ndash;    <div class="form-group row">&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="col-sm-10">&ndash;&gt;-->
<!--&lt;!&ndash;        <button&ndash;&gt;-->
<!--&lt;!&ndash;          id="doTheThingBtn"&ndash;&gt;-->
<!--&lt;!&ndash;          type="button"&ndash;&gt;-->
<!--&lt;!&ndash;          class="btn btn-primary"&ndash;&gt;-->
<!--&lt;!&ndash;          (click)="addOneValue($event)"&ndash;&gt;-->
<!--&lt;!&ndash;        >&ndash;&gt;-->
<!--&lt;!&ndash;          Add Value&ndash;&gt;-->
<!--&lt;!&ndash;        </button>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->


<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--&lt;!&ndash;<hr>&ndash;&gt;-->

<!--&lt;!&ndash;<div class="form-group row">&ndash;&gt;-->
<!--&lt;!&ndash;  <div class="col-sm-10">&ndash;&gt;-->
<!--&lt;!&ndash;    <button&ndash;&gt;-->
<!--&lt;!&ndash;      id="putBtn"&ndash;&gt;-->
<!--&lt;!&ndash;      type="button"&ndash;&gt;-->
<!--&lt;!&ndash;      class="btn btn-primary"&ndash;&gt;-->
<!--&lt;!&ndash;      (click)="putRows($event)"&ndash;&gt;-->
<!--&lt;!&ndash;    >&ndash;&gt;-->
<!--&lt;!&ndash;      Put Rows&ndash;&gt;-->
<!--&lt;!&ndash;    </button>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->


<!--&lt;!&ndash;<div class="form-group row">&ndash;&gt;-->
<!--&lt;!&ndash;  <div class="col-sm-10">&ndash;&gt;-->
<!--&lt;!&ndash;    <button&ndash;&gt;-->
<!--&lt;!&ndash;      id="getBtn"&ndash;&gt;-->
<!--&lt;!&ndash;      type="button"&ndash;&gt;-->
<!--&lt;!&ndash;      class="btn btn-primary"&ndash;&gt;-->
<!--&lt;!&ndash;      (click)="getRows($event)"&ndash;&gt;-->
<!--&lt;!&ndash;    >&ndash;&gt;-->
<!--&lt;!&ndash;      Get Rows&ndash;&gt;-->
<!--&lt;!&ndash;    </button>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--&lt;!&ndash;<hr>&ndash;&gt;-->
<!--&lt;!&ndash;<h2>Export</h2>&ndash;&gt;-->

<!--&lt;!&ndash;<div class="form-group row">&ndash;&gt;-->
<!--&lt;!&ndash;  <div class="col-sm-10">&ndash;&gt;-->
<!--&lt;!&ndash;    <button&ndash;&gt;-->
<!--&lt;!&ndash;      id="downloadBtn"&ndash;&gt;-->
<!--&lt;!&ndash;      type="button"&ndash;&gt;-->
<!--&lt;!&ndash;      class="btn btn-primary"&ndash;&gt;-->
<!--&lt;!&ndash;      (click)="download($event)"&ndash;&gt;-->
<!--&lt;!&ndash;    >&ndash;&gt;-->
<!--&lt;!&ndash;      Download&ndash;&gt;-->
<!--&lt;!&ndash;    </button>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--<hr>-->
<!--<h2>Import2</h2>-->
<!--<file-upload>-->
<!--  &lt;!&ndash; refer to https://blog.angular-university.io/angular-file-upload/ &ndash;&gt;-->
<!--</file-upload>-->

<!--&lt;!&ndash;<hr>&ndash;&gt;-->
<!--&lt;!&ndash;<h2>Testing</h2>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="form-group row">&ndash;&gt;-->
<!--&lt;!&ndash;  <div class="col-sm-10">&ndash;&gt;-->
<!--&lt;!&ndash;    <button&ndash;&gt;-->
<!--&lt;!&ndash;      id="puttyBtn"&ndash;&gt;-->
<!--&lt;!&ndash;      type="button"&ndash;&gt;-->
<!--&lt;!&ndash;      class="btn btn-primary"&ndash;&gt;-->
<!--&lt;!&ndash;      (click)="putty($event)"&ndash;&gt;-->
<!--&lt;!&ndash;    >&ndash;&gt;-->
<!--&lt;!&ndash;      Putty&ndash;&gt;-->
<!--&lt;!&ndash;    </button>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
