<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ title }}</h4>

    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
  <!-- <ng-content></ng-content> -->
    <p>{{ description }}</p>

    <div class="selectpicker">
      <select
        class="custom-select"
        [(ngModel)]="selectedSolrIndexId"
        (change)="selectedChanged($event)"
      >
        <option *ngFor="let solrIndex of solrIndices" [value]="solrIndex.id">
          {{ solrIndex.description }}
        </option>
      </select>

    </div>
  </div>
  <div class="modal-footer btn-toolbar">
    <button class="btn btn-success" type="button"
            (click)="ok()"
            [disabled]="selectedSolrIndexId === solrService.currentSolrIndexId"
    >
      {{ okLabel }}
    </button>
    <button class="btn btn-danger mr-2" type="button" (click)="cancel()">
      {{ cancelLabel }}
    </button>
  </div>
</ng-template>
