.smui-report-settingsbar {
	border-top: 1px rgba(0,0,0,.125) solid;
}

.smui-vertical-divider {
	margin-left: 10px;
	margin-right: 10px;
	border-left: 1px rgba(0,0,0,.125) solid;
	height: 40px;
}

.smui-report-settingsbar-label {
	margin-right:10px;
}

.smui-report-set-btn {
	cursor: pointer;
	padding-left: 5px;
}

.smui-report-set-item {
	cursor: pointer;
}

select {
	cursor: pointer;
}

button {
	cursor: pointer;
}