button {
    cursor: pointer;
}

input {
    cursor: pointer;
}

.detail-input-row {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 1rem;
    margin-top: 0.5rem;
}

.detail-input-row-icon {
    grid-column: 1;
    align-self: center;
    justify-self: start;
}

.detail-input-row-input {
    grid-column: 2;
    align-self: center;
}

.detail-input-row-delete {
    grid-column: 3;
    align-self: center;
    justify-self: end;
}
