<div class="detail-input-row">
    <div class="detail-input-row-icon">
        <input type="checkbox"
               [disabled]="disabled"
               [ngModel]="active"
               (ngModelChange)="activeChange.emit($event)"
        />
        <small class="uppercase">{{ label }}</small>
    </div>
    <div class="detail-input-row-input">
        <input type="text"
               class="form-control"
               [placeholder]="placeholder"
               [disabled]="disabled || !active"
               [ngModel]="term"
               (ngModelChange)="termChange.emit($event)"
               (keyup.enter)="handleSave.emit()">
    </div>
    <div class="detail-input--row-delete">
        <button type="button"
                class="btn btn-danger btn-sm"
                [disabled]="disabled || !active"
                (click)="handleDeleteRow.emit()">-</button>
    </div>
</div>