<app-smui-card>
  <div class="row">
    <div class="col">
      <div class="form-group smui-no-bottom-margin">
        <table style="width:100%">
          <tr
            [class.smui-disabled-rule-line]="
              detailSearchInput && !detailSearchInput.isActive
            "
          >
            <td style="width:10%">
              <!-- TODO ng-container wrapping could be solved more elegant, maybe as a separate "empty detailSearchInput view"? -->
              <input
                type="checkbox"
                class="mr-2"
                [disabled]="!detailSearchInput"
                [(ngModel)]="detailSearchInput && detailSearchInput.isActive"
              />
              <small style="text-transform: uppercase">Input Term:</small>
            </td>
            <td
              [style.width]="showTags ? '30%' : '60%'"
              [style.padding-right]="!showTags && '0.5rem'"
            >

            <div class="input-group">
              <ng-container *ngIf="detailSearchInput">
                <input
                  type="text"
                  class="form-control"
                  id="inputSearchInput"
                  placeholder="Edit Search Input ..."
                  [(ngModel)]="detailSearchInput.term"
                  (keyup.enter)="saveSearchInputDetails()"
                />
              </ng-container>
              <ng-container *ngIf="!detailSearchInput">
                  <input
                    type="text"
                    class="form-control"
                    id="inputSearchInput"
                    placeholder="Edit Search Input ..."
                    disabled="disabled"
                  />
              </ng-container>
              <div class="input-group-append" *ngIf="warn_searchinput_exact()">
                <span class="input-group-text smui-clean-input-group-append">
                  <span class="badge badge-warning">
                    <i class="fa fa-info-circle">&nbsp;</i>
                    Exact match
                  </span>
                </span>
                <!--<span class="input-group-text">Right addon</span>-->
              </div>
            </div>

            </td>
            <td
              [style.display]="showTags ? 'table-cell' : 'none'"
              style="width:20%"
              class="smui-tags-container"
            >
              <div *ngIf="detailSearchInput && tagsDropDownSettings">
                <angular2-multiselect
                  [data]="availableTags"
                  [(ngModel)]="selectedTags"
                  [settings]="tagsDropDownSettings"
                  (onDeSelectAll)="onDeSelectAllTags()"
                ></angular2-multiselect>
              </div>
            </td>
            <td style="width:20%">
              <button
                type="button"
                class="btn btn-danger col"
                (click)="deleteSearchInput()"
                [disabled]="!detailSearchInput"
              >
                <i class="fa fa-minus" aria-hidden="true"></i> Permanently
                delete
              </button>
            </td>
          </tr>
        </table>
      </div>
      <div
        *ngIf="detailSearchInput && associatedSpellings.length > 0"
        class="smui-associated-spellings"
      >
        <div class="smui-associated-spellings-title">
          <small class="uppercase">Associated Spellings:</small>
        </div>
        <div class="smui-associated-spellings-list">
          <span
            *ngFor="
              let associatedSpelling of associatedSpellings;
              let idxAssociatedSpelling = index
            "
          >
            <ng-container *ngIf="associatedSpelling.exists">
              <small
                class="underlined-dashed active"
                (click)="openDetailsForSpelling(associatedSpelling.id)"
              >
                {{ associatedSpelling.term }}
              </small>
              <small
                *ngFor="
                  let spelling of associatedSpelling.alternatives;
                  let idxAlternativeSpelling = index
                "
                class="with-pipe muted"
              >
                {{ spelling }}
              </small>
            </ng-container>
            <ng-container *ngIf="!associatedSpelling.exists">
              <small>{{ associatedSpelling.term }}</small>
              <i
                class="fa fa-plus-circle active align-middle ml-2"
                aria-hidden="true"
                (click)="createNewSpellingItemForTerm(associatedSpelling.term)"
              >
              </i>
            </ng-container>
          </span>
        </div>
      </div>
    </div>
  </div>
</app-smui-card>

<app-smui-card>
  <div class="smui-no-bottom-padding">
    <div class="row">
      <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button
            class="btn btn-success"
            id="rules-dropdown"
            ngbDropdownToggle
            [disabled]="!detailSearchInput"
          >
            <i class="fa fa-plus" aria-hidden="true"></i> Add new search rule
            for input
          </button>
          <div ngbDropdownMenu aria-labelledby="rules-dropdown">
            <button ngbDropdownItem (click)="addNewSynonymRule()">
              Synonym Rule (directed or undirected)
            </button>
            <button ngbDropdownItem (click)="addNewUpDownRule()">
              UP/DOWN Rule
            </button>
            <button ngbDropdownItem (click)="addNewFilterRule()">
              FILTER Rule
            </button>
            <button ngbDropdownItem (click)="addNewDeleteRule()">
              DELETE Rule
            </button>
            <button ngbDropdownItem (click)="addNewRedirectRule()">
              REDIRECT Rule
            </button>
          </div>
        </div>
      </div>
      <div class="col">
        <button
          type="button"
          class="btn btn-primary float-right"
          (click)="saveSearchInputDetails()"
          [disabled]="!detailSearchInput"
        >
          <i class="far fa-save" aria-hidden="true"></i> Save search rules for
          input
        </button>
      </div>
    </div>
  </div>

  <!-- TODO evaluate refactoring of table-layouts into abstract/generic ng-template -->

  <div class="card-body smui-no-bottom-padding">
    <div class="alert alert-danger" role="alert" *ngIf="saveError">
      <p>
        <b
          >The search input could not be saved. Please fix the following
          errors:</b
        >
      </p>
      <p style="white-space: pre;">{{ saveError }}</p>
    </div>

    <ng-container
      *ngIf="detailSearchInput && detailSearchInput.synonymRules.length > 0"
    >
      <table style="width:100%">
        <tr
          *ngFor="
            let synonymRule of detailSearchInput.synonymRules;
            let idxSynonymRules = index
          "
          [class.smui-disabled-rule-line]="
            !synonymRule.isActive || !detailSearchInput.isActive
          "
        >
          <!--
          TODO evaluate the use of this nicer Bootstrap toggle button instead of `input type="checkbox"` ...

          <td style="width:X%">
          <button type="button"
                  class="btn btn-sm float-left"
                  [class.btn-secondary]="true"
                  [class.btn-light]="!true"
                  (click)="toggleSynonymRuleActive(idxSynonymRules); $event.stopPropagation();">&#10003;</button>
          </td>
          -->
          <td style="width:20%">
            <input
              type="checkbox"
              class="mr-2"
              [(ngModel)]="synonymRule.isActive"
            />
            <small style="text-transform: uppercase">Synonym Rule:</small>
          </td>
          <td style="width:20%">
            <select class="form-control" [(ngModel)]="synonymRule.synonymType">
              <option [ngValue]="0">= (undirected)</option>
              <option [ngValue]="1">-> (directed)</option>
            </select>
          </td>
          <td style="width:55%">
            <input
              type="text"
              class="form-control"
              id="inputSynonymTerm"
              placeholder="Edit Synonym Rule Term ..."
              [(ngModel)]="synonymRule.term"
              (keyup.enter)="saveSearchInputDetails()"
            />
          </td>
          <td style="width:5%">
            <button
              type="button"
              class="btn btn-danger btn-sm float-right"
              (click)="
                deleteSynonymRule(idxSynonymRules); $event.stopPropagation()
              "
            >
              -
            </button>
          </td>
        </tr>
      </table>
    </ng-container>

    <ng-container
      *ngIf="detailSearchInput && detailSearchInput.upDownRules.length > 0"
    >
      <table style="width:100%">
        <tr
          *ngFor="
            let upDownRule of detailSearchInput.upDownRules;
            let idxUpDownRules = index
          "
          [class.smui-disabled-rule-line]="
            !upDownRule.isActive || !detailSearchInput.isActive
          "
        >
          <td style="width:20%">
            <input
              type="checkbox"
              class="mr-2"
              [(ngModel)]="upDownRule.isActive"
            />
            <small style="text-transform: uppercase">UP/DOWN Rule:</small>
          </td>
          <!-- Option#1: Show non combined UP/DOWN dropdown followed by boost/malus number input -->
          <td
            style="width:10%"
            *ngIf="
              !featureToggleService.getSyncToggleUiConceptUpDownRulesCombined()
            "
          >
            <select class="form-control" [(ngModel)]="upDownRule.upDownType">
              <option [ngValue]="0">UP</option>
              <option [ngValue]="1">DOWN</option>
            </select>
          </td>
          <td
            style="width:10%"
            *ngIf="
              !featureToggleService.getSyncToggleUiConceptUpDownRulesCombined()
            "
          >
            <input
              type="number"
              class="form-control"
              id="inputUpDownBoostMalus"
              placeholder="Boost/Malus ..."
              [(ngModel)]="upDownRule.boostMalusValue"
            />
          </td>
          <!-- Option#2: Show combined UP(+++++) to DOWN(----) dropdown only -->
          <td
            style="width:20%"
            *ngIf="
              featureToggleService.getSyncToggleUiConceptUpDownRulesCombined()
            "
          >
            <select
              class="form-control"
              [(ngModel)]="upDownRule.upDownDropdownDefinitionMapping"
            >
              <option
                *ngFor="
                  let mapping of upDownDropdownDefinitionMappings();
                  let idxMapping = index
                "
                [value]="idxMapping"
              >
                {{ mapping.displayName }}
              </option>
            </select>
          </td>
          <td
            style="width:20%"
            *ngIf="
              featureToggleService.getSyncToggleUiConceptAllRulesWithSolrFields()
            "
          >
            <input
              type="text"
              class="form-control"
              placeholder="Solr Field (empty)"
              [(ngModel)]="upDownRule.suggestedSolrFieldName"
              [ngbTypeahead]="searchSuggestedSolrFieldNames"
            />
          </td>
          <td
            ng-style="{'width' : (featureToggleService.getSyncToggleUiConceptAllRulesWithSolrFields()) ? '35%' : '55%'}"
          >
            <input
              type="text"
              class="form-control"
              id="inputUpDownTerm"
              placeholder="Edit UP/DOWN Rule Term ..."
              [(ngModel)]="upDownRule.term"
              (keyup.enter)="saveSearchInputDetails()"
            />
          </td>
          <td style="width:5%">
            <button
              type="button"
              class="btn btn-danger btn-sm float-right"
              (click)="
                deleteUpDownRule(idxUpDownRules); $event.stopPropagation()
              "
            >
              -
            </button>
          </td>
        </tr>
      </table>
    </ng-container>

    <ng-container
      *ngIf="detailSearchInput && detailSearchInput.filterRules.length > 0"
    >
      <table style="width:100%">
        <tr
          *ngFor="
            let filterRule of detailSearchInput.filterRules;
            let idxFilterRules = index
          "
          [class.smui-disabled-rule-line]="
            !filterRule.isActive || !detailSearchInput.isActive
          "
        >
          <td style="width:20%">
            <input
              type="checkbox"
              class="mr-2"
              [(ngModel)]="filterRule.isActive"
            />
            <small style="text-transform: uppercase">FILTER Rule:</small>
          </td>
          <td
            style="width:20%"
            *ngIf="
              featureToggleService.getSyncToggleUiConceptAllRulesWithSolrFields()
            "
          >
            <input
              type="text"
              class="form-control"
              placeholder="Solr Field (empty)"
              [(ngModel)]="filterRule.suggestedSolrFieldName"
              [ngbTypeahead]="searchSuggestedSolrFieldNames"
            />
          </td>
          <td
            ng-style="{'width' : (featureToggleService.getSyncToggleUiConceptAllRulesWithSolrFields()) ? '55%' : '75%'}"
          >
            <input
              type="text"
              class="form-control"
              id="inputFilterTerm"
              placeholder="Edit FILTER Rule Term ..."
              [(ngModel)]="filterRule.term"
              (keyup.enter)="saveSearchInputDetails()"
            />
          </td>
          <td style="width:5%">
            <button
              type="button"
              class="btn btn-danger btn-sm float-right"
              (click)="
                deleteFilterRule(idxFilterRules); $event.stopPropagation()
              "
            >
              -
            </button>
          </td>
        </tr>
      </table>
    </ng-container>

    <ng-container
      *ngIf="detailSearchInput && detailSearchInput.deleteRules.length > 0"
    >
      <table style="width:100%">
        <tr
          *ngFor="
            let deleteRule of detailSearchInput.deleteRules;
            let idxDeleteRules = index
          "
          [class.smui-disabled-rule-line]="
            !deleteRule.isActive || !detailSearchInput.isActive
          "
        >
          <td style="width:20%">
            <input
              type="checkbox"
              class="mr-2"
              [(ngModel)]="deleteRule.isActive"
            />
            <small style="text-transform: uppercase">DELETE Rule:</small>
          </td>
          <td style="width:75%">
            <input
              type="text"
              class="form-control"
              id="inputDeleteTerm"
              placeholder="Edit DELETE Rule Term ..."
              [(ngModel)]="deleteRule.term"
              (keyup.enter)="saveSearchInputDetails()"
            />
          </td>
          <td style="width:5%">
            <button
              type="button"
              class="btn btn-danger btn-sm float-right"
              (click)="
                deleteDeleteRule(idxDeleteRules); $event.stopPropagation()
              "
            >
              -
            </button>
          </td>
        </tr>
      </table>
    </ng-container>

    <ng-container
      *ngIf="detailSearchInput && detailSearchInput.redirectRules.length > 0"
    >
      <table style="width:100%">
        <tr
          *ngFor="
            let redirectRule of detailSearchInput.redirectRules;
            let idxRedirectRules = index
          "
          [class.smui-disabled-rule-line]="
            !redirectRule.isActive || !detailSearchInput.isActive
          "
        >
          <td style="width:20%">
            <input
              type="checkbox"
              class="mr-2"
              [(ngModel)]="redirectRule.isActive"
            />
            <small style="text-transform: uppercase">REDIRECT Rule:</small>
          </td>
          <td style="width:75%">
            <input
              type="text"
              class="form-control"
              id="inputRedirectTarget"
              placeholder="Redirect Target"
              [(ngModel)]="redirectRule.target"
              (keyup.enter)="saveSearchInputDetails()"
            />
          </td>
          <td style="width:5%">
            <button
              type="button"
              class="btn btn-danger btn-sm float-right"
              (click)="
                deleteRedirectRule(idxRedirectRules); $event.stopPropagation()
              "
            >
              -
            </button>
          </td>
        </tr>
      </table>
    </ng-container>

    <div
      class="alert alert-danger smui-no-bottom-margin"
      role="alert"
      *ngIf="
        detailSearchInput &&
        (detailSearchInput.synonymRules.length < 1 &&
          detailSearchInput.upDownRules.length < 1 &&
          detailSearchInput.filterRules.length < 1 &&
          detailSearchInput.deleteRules.length < 1 &&
          detailSearchInput.redirectRules.length < 1)
      "
    >
      No Rules maintained for Search Input. This Search Input will therefore not
      being included to rules.txt on deployment to Solr.
    </div>

    <ng-container *ngIf="detailSearchInput">
      <table style="width:100%;margin-top:20px;">
        <tr>
          <td width="15%">
            <i class="fa fa-commenting-o" aria-hidden="true"></i
            ><small style="text-transform: uppercase"> Comment:</small>
          </td>
          <td width="85%">
            <input
              type="text"
              class="form-control"
              id="searchInputComment"
              placeholder="Enter a comment explaining the management of input(s) (hint use #hashtags)..."
              [(ngModel)]="detailSearchInput.comment"
              (keyup.enter)="saveSearchInputDetails()"
            />
          </td>
        </tr>
      </table>
    </ng-container>
  </div>

  <div class="mt-4">
    <div class="row">
      <div class="col"></div>
      <div class="col">
        <button
          type="button"
          class="btn btn-primary float-right"
          (click)="saveSearchInputDetails()"
          [disabled]="!detailSearchInput"
        >
          <i class="far fa-save" aria-hidden="true"></i> Save search rules for
          input
        </button>
      </div>
    </div>
  </div>
</app-smui-card>
