.smui-nav-bar {
  margin-bottom: 1rem;
}

.leftSpace {
  margin-left: 1rem;
}

.selectpicker {
  margin: 0 1rem;
  max-width: 250px;
}

.smui-version {
  font-size: x-small;
}

.help-table-col-1 {
  width: 15%;
}

.help-table-col-2 {
  width: 15%;
}

.help-table-col-3 {
  width: 15%;
}

.help-table-col-4 {
  width: 55%;
}

.btn-smui-version-info {
  cursor: pointer;
}

.solrPanel {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  justify-items: center;
}
