<div class="card">
  <div class="card-body">
    <h5 class="card-title">Add a Thing</h5>
    <h6 class="card-subtitle mb-2 text-muted">Add a new thing.</h6>

    <div class="form-group row">
      <label for="thingName" class="col-sm-2 col-form-label">Thing:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="thingName" placeholder="Thing" [(ngModel)]="thingName">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-10">
        <button
          id="doTheThingBtn"
          type="button"
          class="btn btn-primary"
          (click)="doTheThing($event)"
        >
          Do The Thing
        </button>
      </div>
    </div>
  </div>
</div>
